@import '../../mixin.module.scss';

@keyframes progressbar {
    0% {
        width: 0%;
    }
    100% {
        width: var(--proficiency);
    }
}

.box {
    display: flex;
    flex-direction: column;
    @include media-width(90%, 30%);
    margin: 0 1.5% 0 1.5%;
    align-items: center;
    h4 {
        text-align: center;
    }
    .desc {
        width: calc(1116px * 0.3);
        margin-top: 2rem;
        div {
            display: flex;
            align-items: center;
            p {
                width: 70%;
            }
            span {
                position: relative;
                @include size(30%, 12px);
                border-radius: 8px;
                background-color: $silver;
                .proficiency {
                    position: absolute;
                    width: var(--proficiency);
                    border-radius: inherit;
                    background-color: $darkgray;
                    animation: progressbar 2s ease-out;
                }
            }
            
        }
    }
}