@import '../../mixin.module.scss';

.Footer {
    margin-top: 6rem;
    text-align: center;
    a {
        text-decoration: none;
        @include font($footer-link, normal, 300, 1.5rem);
        &:hover {
            text-decoration: underline;
        }
    }
}