@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import './mixin.module.scss';

* {
    box-sizing: border-box;
    word-break: break-all;
    margin: 0px;
}

html {
    font-size: 10px;
}

h1 {
    line-height: normal;
    @include media-text-align();
    @include font($black, normal, 400, 4rem);
}

h2 {
    @include font($gray, normal, 300, 2rem);
}

h3 {
    text-align: center;
    @include font($black, normal, 300, 3rem);
}

h4 {
    line-height: normal;
    @include media-text-align();
    @include font($black, normal, 500, 2rem);
}

h5 {
    @include media-text-align();
    @include font($gray, italic, 300, 1.5rem);
}

b {
    @include font($white, normal, 300, 1vw);
}

p, li {
    @include font($black, normal, 300, 1.5rem);
}

a {
    text-decoration: none;
    @include media-text-align();
    @include font($gray, italic, 300, 1.5rem);
    &:hover {
        color: $black;
        text-decoration: underline;
    }
}

embed {
    position: absolute;
    @include size(100%, 100%);
}